<?xml version="1.0" encoding="UTF-8"?>

<configuration status="INFO" monitorInterval="300">
    <properties>
        <property name="StandardPatternLayout">%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] [%file:%line] - %msg%n
        </property>
    </properties>

    <appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${StandardPatternLayout}"/>
        </Console>
    </appenders>

    <loggers>
        <root level="all" includeLocation="true">
            <appender-ref ref="CONSOLE"/>
        </root>
    </loggers>
</configuration>
